* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

a:hover {
  color: grey;
}

body {
  background-color: grey;
  margin: 0;
}

.header-4 {
  font-family: "Roboto", sans-serif;
  /* para q el logo este en una esquina y las secciones en otra */
  justify-content: space-between;
  height: 70px;
  background-color: black;
  align-items: center;
  padding: 10px;
  padding-right: 50px;
}
.header-4 .logo4 {
  display: flex;
  align-items: center;
}
.header-4 .logo-img4 {
  height: 80px;
  width: 80px;
  display: flex;
}
.header-4 .logo-name4 {
  color: white;
  font-family: "Lobster Two", cursive;
  font-size: 30px;
}
.header-4 nav a {
  padding-right: 20px;
}
.header-4 .menu4 {
  display: flex;
  padding-left: 500px;
  position: relative;
  bottom: 60px;
  list-style: none;
  gap: 80px;
  font-size: 20px;
  color: white;
}
.header-4 a {
  text-decoration: none;
}

.main-4 {
  background-color: grey;
}
.main-4 .img-h4 {
  border: solid 1px white;
  margin-bottom: 50px;
  width: 350px;
  height: 350px;
  margin-top: 30px;
  background-color: black;
}
.main-4 .img-class {
  border: solid 3px white;
  width: 300px;
  height: 350px;
  background-color: black;
}
.main-4 .img-amigos {
  border: solid 2px black;
  width: 400px;
  height: 300px;
  margin-right: 100px;
}
.main-4 .h4-class {
  font-family: "Lobster Two", cursive;
  display: grid;
  margin-right: 20%;
  margin-top: 27px;
  font-size: 50px;
}
.main-4 .principal-content {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  grid-column-gap: 100px;
  grid-row-gap: 80px;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}
.main-4 .h2-class {
  font-family: "Lobster Two", cursive;
  font-size: 60px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  color: black;
  background-color: lightgrey;
  margin-bottom: 100px;
}
.main-4 .h1-clasS {
  margin-top: 40px;
  margin-left: 30px;
}

.main-4 .img-div {
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
}

.main-4 .h4-class {
  font-family: "Lobster Two";
  display: grid;
  margin-right: 20%;
  margin-top: 27px;
  font-size: 50px;
}
.main-4 .ul-lista2 {
  font-family: "Roboto";
  border: solid 2px black;
  background-color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  font-size: 25px;
  color: black;
  margin-top: 100px;
}

.footer-4 {
  background-color: black;
  width: 100%;
}
.footer-4 .footer-logo-class {
  align-items: center;
  width: 80px;
  height: 80px;
  padding-left: 10px;
  padding-top: 20px;
}
.footer-4 .lista-footer {
  align-items: center;
  padding-left: 60%;
  list-style: none;
  color: white;
}
.footer-4 .img-footer {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  height: 30px;
  width: 30px;
}
.footer-4 .liquor-store-footer4 {
  color: white;
  border-top: solid 1px lightblue;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-4 .caja-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px lightblue;
}
/* MOBILE */
/* MOBILE */
@media only screen and (max-width: 450px) {
  .grid-container-4 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .header-4 {
    width: 125%;
    height: 1000px;
  }
  .header-4 .menu4 {
    display: grid;
    font-size: 60px;
    color: white;
    padding-right: 100px;
    position: relative;
    left: 100px;
    top: 50px;
  }
  .header-4 .logo-name4 {
    font-size: 100px;
  }
  .header-4 .logo-img4 {
    height: 130px;
    width: 130px;
  }
  .main-4 {
    display: grid;
    margin-left: 15%;
    width: 50%;
    grid-template-columns: 1, 1fr;
  }
  .main-4 .img-amigos {
    display: none;
  }
  .main-4 div.img-div {
    display: grid;
    grid-template-columns: 1, 1fr;
  }
  .main-4 .img-h4 {
    width: 500px;
    height: 500px;
    margin-left: 30%;
  }
  .main-4 .h4-class {
    font-size: 100px;
    margin-left: 200px;
    width: 150%;
    margin-left: -15%;
  }
  .main-4 .ul-lista2 {
    width: 180%;
    font-size: 50px;
    margin-left: -18%;
  }
  .main-4 .h2-class {
    font-size: 100px;
    margin-right: 130px;
    width: 170%;
    margin-left: -80px;
  }
  .main-4 .principal-content {
    display: block;
    position: relative;
    left: 50%;
  }
  .footer-4 {
    width: 132%;
  }
  .footer-4 .a-footer4 {
    font-size: 30px;
    padding-left: 500px;
  }
  .footer-4 .liquor-store-footer4 {
    font-size: 25px;
  }
}
/* tablet */
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .header-4 {
    width: 305%;
    height: 250px;
  }
  .header-4 .logo4 {
    padding-top: 20px;
    width: 200px;
  }
  .header-4 .menu4 {
    position: relative;
    font-size: 40px;
    gap: 70px;
    left: -150px;
  }
  .header-4 .logo-name4 {
    font-size: 60px;
    width: 10%;
    padding-top: 40px;
  }
  .header-4 .logo-img4 {
    width: 100px;
    height: 100px;
  }
  .main-4 div.img-div {
    margin-left: 150%;
    display: grid;
    margin-bottom: 300px;
    grid-template-columns: 2, 1fr;
  }
  .main-4 .img-h4 {
    width: 700px;
    height: 700px;
  }
  .main-4 .h4-class {
    font-size: 100px;
    width: 150%;
  }
  .main-4 .img-amigos {
    margin-top: 100px;
    width: 700px;
    height: 700px;
  }
  .main-4 .ul-lista2 {
    width: 280%;
    font-size: 70px;
    margin-left: 30px;
    height: 250px;
  }
  .main-4 .h2-class {
    width: 300%;
    font-size: 150px;
  }
  .main-4 .principal-content {
    margin-left: 150%;
  }
  .footer-4 {
    width: 315%;
  }
  .footer-4 .a-footer4 {
    font-size: 40px;
  }
  .footer-4 .liquor-store-footer4 {
    font-size: 30px;
  }
  .footer-4 .img-whatsapp-footerI,
.footer-4 .img-facebook-footerI,
.footer-4 .img-instagram-footerI {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 853px) and (max-width: 960px) {
  .header-4 {
    width: 400%;
  }
  .header-4 .menu4 {
    position: relative;
    left: 10px;
    width: 200%;
    font-size: 70px;
  }
  .main-4 .ul-lista2 {
    margin-left: 50%;
  }
  .main-4 .h2-class {
    margin-left: 50%;
  }
  .main-4 .principal-content {
    margin-right: -150%;
  }
  .main-4 .img-h4 {
    margin-left: 50%;
  }
  .main-4 .h4-class {
    margin-left: 40%;
  }
  .main-4 .img-amigos {
    margin-left: 50%;
  }
  .footer-4 {
    width: 378%;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .header-4 {
    width: 120%;
  }
}
/* SECCION PRODUCTOS*/
* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

a:hover {
  color: grey;
}

body {
  background-color: grey;
  margin: 0;
}

.header {
  font-family: "Roboto", sans-serif;
  display: flex;
  /* para q el logo este en una esquina y las secciones en otra */
  justify-content: space-between;
  height: 70px;
  background-color: black;
  align-items: center;
  padding: 10px;
  padding-right: 50px;
}
.header .logo0 {
  display: flex;
  align-items: center;
}
.header .logo-img0 {
  height: 80px;
  width: 80px;
  display: flex;
}
.header .logo-name0 {
  color: white;
  font-family: "Lobster Two", cursive;
  font-size: 30px;
}
.header nav a {
  padding-right: 20px;
}
.header .menu0 {
  display: flex;
  list-style: none;
  gap: 100px;
  font-size: 20px;
  color: white;
  padding-left: 20px;
}
.header a {
  text-decoration: none;
}

.main {
  background-color: grey;
  background-size: 100%;
}
.main .bebida-1 {
  width: 200px;
  height: 200px;
  font-size: 20px;
}
.main .gin {
  width: 200px;
  height: 200px;
  padding-bottom: 60px;
}
.main div img {
  width: 200px;
  height: 200px;
}
.main .lista {
  display: flex;
  justify-content: center;
  font-family: "Lobster Two", cursive;
  background-color: lightgrey;
  padding-bottom: 35px;
  padding-top: 35px;
  font-size: 70px;
}
.main .input-text {
  display: flex;
  justify-content: center;
  background-color: grey;
  align-items: center;
  font-family: "Lobster Two", cursive;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-top: 100px;
  font-size: 40px;
}
.main .input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 55px;
}
.main .menu-main {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  justify-content: space-between;
  margin-right: 70px;
  margin-left: 70px;
  color: black;
  padding-top: 100px;
  font-family: "Libre Franklin", sans-serif;
  font-size: 30px;
}
.main .menu-main2 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  justify-content: space-between;
  margin-right: 70px;
  margin-left: 70px;
  color: black;
  padding-top: 100px;
  font-family: "Libre Franklin", sans-serif;
  font-size: 30px;
}

.footer {
  background-color: black;
  margin-top: 100px;
}
.footer .caja-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-top: solid 1px lightblue;
}
.footer .footer-logo-class0 {
  align-items: center;
  width: 80px;
  height: 80px;
  padding-left: 10px;
  padding-top: 20px;
}
.footer .lista-footer0 {
  align-items: center;
  padding-left: 60%;
  list-style: none;
  color: white;
}
.footer .img-footer0 {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  height: 30px;
  width: 30px;
}
.footer .liquor-store-footer0 {
  color: white;
  border-top: solid 1px lightblue;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* mobile */
@media only screen and (max-width: 450px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  /* ARRANCA HEADER */
  .header {
    background-color: black;
    font-family: "Roboto", sans-serif;
    display: grid;
    width: 270%;
    height: 100%;
  }
  .header a {
    text-decoration: none;
  }
  .header a:hover {
    color: red;
  }
  .header .logo-name0 {
    font-size: 150px;
    position: relative;
    left: 150px;
    bottom: 70px;
  }
  .header .logo0 {
    display: grid;
    grid-template-columns: 80px 30px;
    width: 20%;
    align-items: center;
    padding-top: 30px;
  }
  .header .logo-img0 {
    height: 350px;
    width: 300px;
    position: relative;
    right: 50px;
    bottom: 70px;
  }
  .header .menu0 {
    display: grid;
    grid-template-columns: 2, 100px;
    font-size: 80px;
    color: white;
    position: relative;
    left: 550px;
    bottom: 100px;
  }
  .main {
    width: 235%;
  }
  .main .menu-main {
    display: grid;
    gap: 350px;
    padding-bottom: 350px;
    margin-left: 50%;
  }
  .main .menu-main2 {
    gap: 350px;
    display: grid;
    margin-left: 50%;
  }
  .main .bebida {
    width: 400px;
    height: 400px;
  }
  .main .bebida-1 {
    font-size: 50px;
    width: 300px;
    height: 200px;
    padding-bottom: 100px;
  }
  .main .input-text {
    font-size: 160px;
  }
  .main .Input {
    margin-top: 100px;
    margin-left: 100px;
  }
  .main .input {
    margin-left: 20%;
  }
  .main button {
    width: 20%;
    font-size: 40px;
    height: 50px;
    margin-left: 20px;
  }
  .main .lista {
    background-color: lightgrey;
    width: 120%;
    margin-bottom: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
    font-size: 150px;
  }
  .footer {
    display: grid;
    background-color: black;
    width: 280%;
    margin-top: 100%;
  }
  .footer .img-footer {
    padding-left: 60px;
  }
  .footer .a-footer0 {
    font-size: 30px;
  }
  .footer .liquor-store-footer0 {
    font-size: 30px;
  }
  .footer .img-whatsapp-footer0,
.footer .img-instagram-footer0,
.footer .img-facebook-footer0 {
    width: 45px;
    height: 45px;
  }
  .footer .footer-logo-class0 {
    width: 100px;
    height: 100px;
  }
  ul.menu {
    font-size: 30px;
    align-items: center;
    position: relative;
    bottom: 20px;
    left: 20px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  div.grid-container {
    width: 130%;
  }
  .header {
    width: 300%;
    height: 200px;
  }
  .header .logo0 {
    position: relative;
    right: 40px;
  }
  .header .logo-name0 {
    font-size: 80px;
    width: 20%;
  }
  .header .logo-img0 {
    width: 150px;
    height: 150px;
  }
  .header .menu0 {
    position: relative;
    left: 100px;
  }
  .header .a {
    font-size: 55px;
    position: relative;
    right: 100px;
    top: 10px;
  }
  .main {
    position: relative;
    left: 50%;
    width: 200%;
    display: grid;
    grid-template-columns: 2, 1fr;
  }
  .main .lista {
    width: 150%;
    margin-left: -600px;
    font-size: 180px;
  }
  .main .input-text {
    font-size: 150px;
  }
  .main .input {
    margin-left: 10%;
  }
  .main button {
    font-size: 70px;
    margin-top: 20px;
    margin-left: 50px;
  }
  .main .menu-main {
    margin-top: 300px;
    margin-bottom: 300px;
    gap: 100px;
    margin-left: 100px;
  }
  .main .menu-main2 {
    gap: 100px;
    margin-left: 100px;
    margin-top: 50%;
  }
  .main .bebida-1 {
    font-size: 70px;
    width: 30%;
    position: relative;
    right: 80px;
  }
  .main .bebida {
    width: 500px;
    height: 500px;
  }
  .footer {
    width: 305%;
    margin-top: 200%;
  }
  .footer .lista-footer0 {
    padding-top: 10px;
  }
  .footer .a-footer0 {
    font-size: 40px;
  }
  .footer .liquor-store-footer0 {
    font-size: 40px;
  }
  .footer .img-facebook-footer,
.footer .img-instagram-footer,
.footer .img-whatsapp-footer {
    width: 50px;
    height: 50px;
  }
  .footer .footer-logo-class0 {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1077px) {
  .header {
    width: 130%;
  }
  .header .logo-name {
    font-size: 15px;
    padding-right: 20px;
  }
  .main {
    width: 136%;
  }
  .main .lista {
    width: 100%;
  }
  .footer {
    margin-top: 100%;
    width: 136%;
  }
}
/* SECCION NOSOTROS */
* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

a:hover {
  color: grey;
}

body {
  background-color: grey;
  margin: 0;
}

.header-3 {
  font-family: "Roboto", sans-serif;
  display: flex;
  /* para q el logo este en una esquina y las secciones en otra */
  justify-content: space-between;
  height: 70px;
  background-color: black;
  align-items: center;
  padding: 10px;
  padding-right: 50px;
}
.header-3 .logo-name3 {
  color: white;
  font-family: "Lobster Two", cursive;
  font-size: 30px;
}
.header-3 a {
  text-decoration: none;
}
.header-3 .logo3 {
  display: flex;
  align-items: center;
}
.header-3 .logo-img3 {
  height: 80px;
  width: 80px;
  display: flex;
}
.header-3 .menu3 {
  display: flex;
  list-style: none;
  gap: 100px;
  font-size: 20px;
  color: white;
}
.header-3 nav a {
  padding-right: 20px;
}

.main-3 {
  font-family: "Lobster Two", cursive;
}
.main-3 .h1-Class {
  font-size: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  gap: 10px;
}
.main-3 .texto-class {
  font-size: 50px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.main-3 .texto-class-2 {
  font-size: 50px;
  justify-content: space-evenly;
  margin-top: 100px;
}
.main-3 .text {
  display: flex;
  justify-content: space-evenly;
}

.footer-3 {
  background-color: black;
}
.footer-3 .caja-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  border-top: solid 1px lightblue;
}
.footer-3 .footer-logo-class3 {
  align-items: center;
  width: 80px;
  height: 80px;
  padding-left: 10px;
  padding-top: 20px;
}
.footer-3 .lista-footer3 {
  align-items: center;
  padding-left: 60%;
  list-style: none;
  color: white;
}
.footer-3 .img-footer3 {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  height: 30px;
  width: 30px;
}
.footer-3 .liquor-store-footer3 {
  color: white;
  border-top: solid 1px lightblue;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 450px) {
  .grid-container-3 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .header-3 {
    width: 145%;
    height: 900px;
  }
  .header-3 .menu3 {
    display: grid;
    font-size: 60px;
    color: white;
    padding-right: 100px;
    position: relative;
    right: 100px;
  }
  .header-3 .logo-name3 {
    font-size: 100px;
  }
  .header-3 .logo-img3 {
    height: 130px;
    width: 130px;
  }
  .main-3 {
    width: 140%;
    margin-left: 90px;
    margin-top: 100%;
  }
  .main-3 .h1N {
    font-size: 200px;
    margin-left: -10%;
  }
  .main-3 .pN {
    font-size: 95px;
    margin-left: -10%;
    margin-top: 100px;
  }
  .main-3 .texto-class,
.main-3 .texto-class-2 {
    font-size: 100px;
    margin-top: 200px;
    margin-left: -10%;
  }
  .footer-3 {
    display: grid;
    background-color: black;
    width: 152%;
    margin-top: 150%;
  }
  .footer-3 .liquor-store-footer3 {
    font-size: 25px;
  }
  .footer-3 .aN {
    font-size: 30px;
    margin-right: 50px;
  }
  .footer-3 .img-instagram-footer3,
.footer-3 .img-whatsapp-footer3,
.footer-3 .img-facebook-footer3 {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .header-3 {
    width: 265%;
    gap: 50px;
    height: 250px;
  }
  .header-3 .menu3 {
    padding-left: 100px;
    padding-top: 20px;
    gap: 30px;
    position: relative;
    right: 80px;
    font-size: 35px;
  }
  .header-3 .logo-name3 {
    font-size: 50px;
  }
  .main-3 {
    width: 250%;
    margin-top: 100%;
  }
  .main-3 .h1 {
    font-size: 150px;
  }
  .main-3 .h2 {
    font-size: 100px;
  }
  .main-3 .h2-Class {
    gap: 150px;
  }
  .footer-3 {
    width: 275%;
    margin-top: 160%;
  }
  .footer-3 .aN {
    font-size: 30px;
    margin-right: 100px;
  }
  .footer-3 .liquor-store-footer3 {
    font-size: 30px;
  }
  .footer-3 .img-instagram-footer3,
.footer-3 .img-whatsapp-footer3,
.footer-3 .img-facebook-footer3 {
    width: 45px;
    height: 45px;
  }
}
@media only screen and (min-width: 961px) {
  .footer-3 {
    margin-top: 250px;
  }
}
/* SECCION COMO COMPRAR*/
* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

a:hover {
  color: grey;
}

body {
  background-color: grey;
  margin: 0;
}

.header-1 {
  font-family: "Roboto", sans-serif;
  display: flex;
  /* para q el logo este en una esquina y las secciones en otra */
  justify-content: space-between;
  height: 70px;
  background-color: black;
  align-items: center;
  padding: 10px;
  padding-right: 50px;
}
.header-1 .logo-name1 {
  color: white;
  font-family: "Lobster Two", cursive;
  font-size: 30px;
}
.header-1 a {
  text-decoration: none;
}
.header-1 .logo1 {
  display: flex;
  align-items: center;
}
.header-1 .logo-img1 {
  height: 80px;
  width: 80px;
  display: flex;
}
.header-1 .menu1 {
  display: flex;
  list-style: none;
  gap: 100px;
  font-size: 20px;
  color: white;
}
.header-1 nav a {
  padding-right: 20px;
}

.main-1 {
  background-color: grey;
  background-size: 100%;
}
.main-1 .main-class {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
  font-size: 40px;
  font-family: "Lobster Two", cursive;
}
.main-1 .compra-class {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 200px;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 100px;
  margin-left: -27%;
  width: 20%;
}
.main-1 .img-clasS {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-left: 10%;
  gap: 50px;
}
.main-1 .img-1 {
  background-color: white;
  height: 150px;
  border: solid 5px black;
}
.main-1 .img-2 {
  background-color: white;
  height: 150px;
  border: solid 5px black;
}
.main-1 .img-3 {
  background-color: white;
  height: 150px;
  border: solid 5px black;
}
.main-1 h2 {
  padding-left: 200px;
  font-size: 110px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  margin-bottom: -100px;
  margin-top: 100px;
  font-family: "Roboto", sans-serif;
}
.main-1 .h2-img {
  width: 40%;
  height: 400px;
}

.footer-1 {
  background-color: black;
}
.footer-1 .caja-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  border-top: solid 1px lightblue;
}
.footer-1 .footer-logo-class1 {
  align-items: center;
  width: 80px;
  height: 80px;
  padding-left: 10px;
  padding-top: 20px;
}
.footer-1 .lista-footer {
  align-items: center;
  padding-left: 60%;
  list-style: none;
  color: white;
}
.footer-1 .img-footer {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  height: 30px;
  width: 30px;
}
.footer-1 .liquor-store-footer1 {
  color: white;
  border-top: solid 1px lightblue;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*MOBILE*/
@media only screen and (max-width: 450px) {
  /* ARRANCA HEADER */
  .header-1 {
    background-color: black;
    font-family: "Roboto", sans-serif;
    display: grid;
    width: 310%;
    height: 80%;
  }
  .header-1 a {
    text-decoration: none;
  }
  .header-1 a:hover {
    color: red;
  }
  .header-1 .logo-name1 {
    font-size: 150px;
    position: relative;
    left: 150px;
    bottom: 70px;
  }
  .header-1 .logo1 {
    display: grid;
    grid-template-columns: 80px 30px;
    width: 20%;
    align-items: center;
    padding-top: 30px;
  }
  .header-1 .logo-img1 {
    height: 350px;
    width: 300px;
    position: relative;
    right: 50px;
    bottom: 70px;
  }
  .header-1 .menu1 {
    display: grid;
    grid-template-columns: 2, 100px;
    font-size: 80px;
    color: white;
    position: relative;
    left: 550px;
    bottom: 100px;
  }
  .main-1 {
    width: 100%;
    display: grid;
  }
  .main-1 .main-class {
    margin-top: 200px;
    font-size: 100px;
    margin-left: 100%;
  }
  .main-1 nav {
    margin-left: 35%;
    margin-top: 300px;
  }
  .main-1 .img-clasS {
    display: grid;
    gap: 150px;
    margin-left: 50%;
  }
  .main-1 .img-1,
.main-1 .img-2,
.main-1 .img-3 {
    width: 400px;
    height: 400px;
  }
  .main-1 .compra-class {
    display: grid;
    font-size: 100px;
    width: 200%;
  }
  .main-1 .precio-class {
    margin-left: 100px;
  }
  .main-1 .h2-clase {
    height: 500px;
    width: 200%;
    font-size: 130px;
    padding-left: 50px;
    margin-left: -15%;
  }
  .main-1 .h2-img {
    height: 100%;
  }
  .footer-1 {
    display: grid;
    margin-top: 100%;
    width: 325%;
  }
  .footer-1 .a1 {
    font-size: 25px;
  }
}
/* TABLET */
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .header-1 {
    width: 410%;
    height: 250px;
  }
  .header-1 .menu1 {
    padding-left: 40px;
    font-size: 80px;
    gap: 50px;
    padding-top: 80px;
  }
  .header-1 .logo-name1 {
    font-size: 70px;
    padding-top: 60px;
  }
  .header-1 .logo-img1 {
    padding-top: 60px;
    width: 100px;
    height: 100px;
  }
  .main-1 {
    width: 215%;
    display: grid;
  }
  .main-1 .main-class {
    font-size: 135px;
    width: 200%;
    margin-left: -25%;
  }
  .main-1 .compra-class {
    font-size: 100px;
    margin-left: -25%;
    width: 20%;
    margin-top: 20%;
  }
  .main-1 .img-1,
.main-1 .img-2,
.main-1 .img-3 {
    width: 500px;
    height: 500px;
  }
  .main-1 .img-clasS {
    width: 150%;
    margin-left: -10%;
  }
  .main-1 .h2-clase {
    width: 120%;
    font-size: 200px;
    height: 700px;
  }
  .main-1 .h2-img {
    height: 700px;
    width: 1000px;
  }
  .footer-1 {
    width: 400%;
    margin-top: 210%;
  }
  .footer-1 .a1 {
    font-size: 50px;
  }
  .footer-1 .img-instagram-footer1,
.footer-1 .img-whatsapp-footer1,
.footer-1 .img-facebook-footer1 {
    width: 80px;
    height: 80px;
  }
  .footer-1 .footer-logo-class1 {
    width: 200px;
    height: 200px;
  }
  .footer-1 .liquor-store-footer1 {
    font-size: 50px;
  }
  .h2-clase {
    width: 85%;
  }
  .precio-class {
    margin-bottom: 50px;
    margin-top: 500px;
    margin-left: 35px;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1020px) {
  .header-1 {
    width: 106%;
  }
  .footer-1 {
    margin-top: 250px;
    width: 112%;
  }
  .h2-clase {
    margin-left: 100px;
  }
  .h2-img {
    height: 520px;
  }
  .precio-class {
    width: 112%;
    height: 520px;
    background-color: black;
  }
}
/* SECCION CONTACTO */
* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

a:hover {
  color: grey;
}

body {
  background-color: grey;
  margin: 0;
}

.header-2 {
  font-family: "Roboto", sans-serif;
  display: flex;
  /* para q el logo este en una esquina y las secciones en otra */
  justify-content: space-between;
  height: 70px;
  background-color: black;
  align-items: center;
  padding: 10px;
  padding-right: 50px;
}
.header-2 .logo-name2 {
  color: white;
  font-family: "Lobster Two", cursive;
  font-size: 30px;
}
.header-2 a {
  text-decoration: none;
}
.header-2 .logo2 {
  display: flex;
  align-items: center;
}
.header-2 .logo-img2 {
  height: 80px;
  width: 80px;
  display: flex;
}
.header-2 .menu2 {
  display: flex;
  list-style: none;
  gap: 100px;
  font-size: 20px;
  color: white;
}
.header-2 nav a {
  padding-right: 20px;
}

.main-2 .div-contact, .main-2 .input-class-2, .main-2 .input-class2, .main-2 .input, .main-2 .h3-2, .main-2 .h1-2 {
  display: flex;
}
.main-2 .msj-class, .main-2 .map-class, .main-2 .phone-class {
  display: flex;
  height: 100px;
  width: 100px;
}
.main-2 .input {
  align-items: center;
  flex-direction: column;
}
.main-2 .input-class-2 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  margin-bottom: 100px;
  gap: 20px;
}
.main-2 .input-class2 {
  justify-content: space-around;
  gap: 40px;
  justify-content: space-evenly;
}
.main-2 .div-contact {
  justify-content: space-around;
  background-color: white;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: -100px;
  margin-top: 100px;
  font-family: "Lobster Two", cursive;
}
.main-2 .h3-2 {
  font-family: "Lobster Two", cursive;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.main-2 .h1-2 {
  font-family: "Lobster Two", cursive;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 80px;
}

.footer-2 {
  background-color: black;
}
.footer-2 .caja-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  border-top: solid 1px lightblue;
}
.footer-2 .footer-logo-class {
  align-items: center;
  width: 80px;
  height: 80px;
  padding-left: 10px;
  padding-top: 20px;
}
.footer-2 .lista-footer2 {
  align-items: center;
  padding-left: 60%;
  list-style: none;
  color: white;
}
.footer-2 .img-footer {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  height: 30px;
  width: 30px;
}
.footer-2 .liquor-store-footer2 {
  align-items: center;
  color: white;
  border-top: solid 1px lightblue;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 450px) {
  .header-2 {
    background-color: black;
    font-family: "Roboto", sans-serif;
    display: grid;
    width: 260%;
    height: 850px;
  }
  .header-2 a {
    text-decoration: none;
  }
  .header-2 a:hover {
    color: red;
  }
  .header-2 .logo-name2 {
    font-size: 150px;
    position: relative;
    left: 150px;
    bottom: 70px;
  }
  .header-2 .logo2 {
    display: grid;
    grid-template-columns: 80px 30px;
    width: 20%;
    align-items: center;
    padding-top: 30px;
  }
  .header-2 .logo-img2 {
    height: 350px;
    width: 300px;
    position: relative;
    right: 50px;
    bottom: 70px;
  }
  .header-2 .menu2 {
    display: grid;
    grid-template-columns: 2, 100px;
    font-size: 50px;
    color: white;
    position: relative;
    left: 700px;
    bottom: 300px;
  }
  .main-2 {
    width: 200%;
    display: grid;
    margin-left: 15%;
  }
  .main-2 input {
    width: 300px;
    height: 50px;
    margin-top: 50px;
  }
  .main-2 .h1-2 {
    font-size: 100px;
  }
  .main-2 .h3-2 {
    font-size: 70px;
  }
  .main-2 .div-contact {
    height: 200px;
    padding-top: 100px;
  }
  .main-2 .h4-2 {
    font-size: 30px;
  }
  .main-2 .phone-class,
.main-2 .map-class,
.main-2 .msj-class {
    margin-left: 50px;
    height: 150px;
    width: 150px;
  }
  .footer-2 {
    width: 275%;
    margin-top: 180%;
  }
  .a-2 {
    font-size: 25px;
    margin-right: 150px;
  }
  .img-whatsapp-footer2,
.img-instagram-footer2,
.img-facebook-footer2 {
    width: 45px;
    height: 45px;
  }
  .liquor-store-footer2 {
    font-size: 25px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .header-2 {
    width: 250%;
    height: 150px;
  }
  .header-2 .menu2 {
    width: 100%;
    padding-top: 30px;
    gap: 15px;
    font-size: 35px;
    padding-left: 20px;
  }
  .header-2 .logo-name2 {
    font-size: 45px;
    padding-right: 20px;
  }
  .main-2 {
    width: 220%;
    margin-left: 5%;
    margin-top: 50%;
  }
  .main-2 .div-contact {
    margin-top: 50%;
    height: 300px;
    padding-top: 100px;
  }
  .main-2 .msj-class,
.main-2 .map-class,
.main-2 .phone-class {
    width: 200px;
    height: 200px;
    margin-left: 50px;
  }
  .main-2 .h4-2 {
    font-size: 40px;
  }
  .main-2 .h1-2 {
    font-size: 145px;
    width: 110%;
  }
  .main-2 .h3-2 {
    font-size: 80px;
  }
  .main-2 .put {
    width: 300px;
    height: 60px;
  }
  .main-2 .put2 {
    height: 300px;
  }
  .footer-2 {
    width: 257%;
    margin-top: 190%;
  }
  .footer-2 .a-2 {
    font-size: 30px;
    margin-right: 100px;
  }
  .footer-2 .img-whatsapp-footer2,
.footer-2 .img-instagram-footer2,
.footer-2 .img-facebook-footer2 {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1035px) {
  .header-2 {
    width: 1000px;
  }
  .header-2 .menu2 {
    padding-left: 20px;
    gap: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
