@import "base/estilosGenerales";
@import "components/headercontact";
@import "base/_extendcontact.scss";
@import "base/mixincontact";
@import "components/footercontact";

@media only screen and (max-width:450px) {
    header{
        width: 230%;
        height: 100px;
        .menu{
            align-items: center;
            padding-left: 20px;
            gap: 20px;
            font-size: 28px;
        }
        .logo{
            padding-right: 30px;
        }
        .logo-name{
            font-size: 30px;
        }
    }
    main{
        width: 200%;
        display: grid;
        margin-left: 15%;
        input{
            width: 250px;
            height: 50px;
        }
    }
    footer{
        width: 245%;
        margin-top: 180%;
    }
}

@media only screen and (min-width:451px) and (max-width:960px){
     header{
        width: 225%;
        height: 100px;
        .menu{
            width: 100%;
            padding-top: 10px;
            gap: 15px;
            font-size: 25px;
            padding-left: 20px;
        }
        .logo-name{
            font-size: 30px;
            padding-right: 20px;
        }
     }

     main{
        width: 220%;
        margin-left: 5%;
        margin-top: 50%;

        .div-contact{
            margin-top: 50%;
        }
     }

     footer{
        width: 230%;
        margin-top: 190%;

     }   
    }
    @media only screen and (min-width:961px) and (max-width:1035px){

        header{
            width: 1000px;

            .menu{
                padding-left: 20px;
                gap: 30px;

            }

        }


    }


















