@import "base/estilosGenerales";
@import "components/headerprod";
@import 'base/mixinprod';
@import "components/footerprod";

/* mobile */
@media only screen and (max-width: 450px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    /* ARRANCA HEADER */
    .header {
        background-color: black;
        justify-content: space-between;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        display: grid;
        /* para q el logo este en una esquina y las secciones en otra */
        width: 101%;
        height: 150px;

        a {
            text-decoration: none;

        }

        .logo-name {
            font-size: 45px;
        }

        .logo {
            display: grid;
            grid-template-columns: 80px 30px;
            width: 20%;
            align-items: center;
            padding-top: 30px;
        }

        .logo img {
            height: 70px;
            width: 70px;
        }

        .menu {
            display: grid;
            grid-template-columns: repeat(5, 100px);
            list-style: none;
            font-size: 35px;
            color: white;
            gap: 120px;
            padding-left: 30%;
            align-items: center;
            position: relative;
            bottom: 80px;
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .menus-main {
        margin-left: 110px;
        margin-top: 300px;
    }

    .menu-main {
        gap: 80px;

    }

    .Input {
        margin-top: 100px;
        margin-left: 100px;
    }

    .lista {
        background-color: lightgrey;
        width: 105%;
    }

    .footer {
        display: grid;
        background-color: black;
        width: 106%;
        margin-top: 100%;

        .img-footer {
            padding-left: 60px;
        }
    }

    ul.menu {
        font-size: 30px;
        align-items: center;
        position: relative;
        bottom: 20px;
        left: 20px;
    }


}

@media only screen and (min-width:451px) and (max-width:960px) {
body{
    display: grid;
}

    header {
        .menu{
            padding-top: 20px;
            align-items: center;
        }
        }
    
    main{

    .menus-main {
        margin-left: 15%;
    }

    .menu-main {
        margin-top: 300px;
    }
    .vodka {
        visibility: hidden;
    }

    .Input {
        margin-right: 10%;
    }
}
footer{
    .footer {
        margin-top: 150%;
        width:140%;
    }
}
}


    @media only screen and (min-width:961px) and (max-width:1077px) {
  body{
    width: 120%;

  }
        header{
        .logo-name {
            font-size: 15px;
            padding-right: 20px;

        }
    }
    footer{
        margin-top:100%;
    }
}
