@import "base/estilosGenerales";
@import "components/header";
@import 'base/mixin';
@import 'base/extend';
@import "base/listas.scss";
@import "components/footer";

/* MOBILE */
/* MOBILE */
@media only screen and (max-width:450px) {
    .grid-container-4 {
        display: grid;
        width: 100%;
        grid-template-columns: (1fr);
    }

    .header-4 {

        width: 105%;
        height: 900px;

        .menu4 {
            display: grid;
            font-size: 60px;
            color: white;
            padding-right: 100px;
            position: relative;
            right: 300px;
        }

        .logo-name4 {
            font-size: 100px;
        }

        .logo-img4 {
            height: 130px;
            width: 130px;
        }
    }

    .main-4 {
        display: grid;
        margin-left: 15%;
        width: 50%;
        grid-template-columns: (1, 1fr);

        .img-amigos {
            display: none;
        }

        div.img-div {
            display: grid;
            grid-template-columns: (1, 1fr);
        }

        .img-h4 {
            width: 500px;
            height: 500px;
            margin-left: 30%;
        }

        .h4-class {
            font-size: 100px;
            margin-left: 200px;
            width: 150%;
            margin-left: -15%;

        }

        .ul-lista2 {
            width: 180%;
            font-size: 50px;
            margin-left: -18%;
        }

        .h2-class {
            font-size: 100px;
            margin-right: 130px;
            width: 170%;
            margin-left: -80px;
        }

        .principal-content {
            display: block;
            position: relative;
            left: 50%;
        }
    }

    .footer-4 {
        width: 105%;

        .a-footer4 {
            font-size: 30px;
            padding-left: 500px;
        }

        .liquor-store-footer4 {
            font-size: 25px;
        }
    }
}

/* tablet */
@media only screen and (min-width:451px) and (max-width:960px) {
    .header-4 {
        width: 300%;

        height: 250px;

        .logo4 {
            padding-top: 20px;
            width: 200px;
        }

        .menu4 {
            position: relative;
            font-size: 40px;
            right: 700px;
            gap: 75px;

        }

        .logo-name4 {
            font-size: 60px;
            width: 10%;
            padding-top: 40px;
        }

        .logo-img4 {
            width: 100px;
            height: 100px;
        }
    }

    .main-4 {
        div.img-div {
            margin-left: 150%;
            display: grid;
            margin-bottom: 300px;
            grid-template-columns: (2, 1fr);
        }

        .img-h4 {
            width: 700px;
            height: 700px;
        }

        .h4-class {
            font-size: 100px;
            width: 150%;
        }

        .img-amigos {
            margin-top: 100px;
            width: 700px;
            height: 700px;
        }

        .ul-lista2 {
            width: 280%;
            font-size: 70px;
            margin-left: 30px;
            height: 250px;
        }

        .h2-class {
            width: 300%;
            font-size: 150px;
        }

        .principal-content {
            margin-left: 150%;

        }
    }

    .footer-4 {
        width: 315%;

        .a-footer4 {
            font-size: 40px;
        }

        .liquor-store-footer4 {
            font-size: 30px;
        }

        .img-whatsapp-footerI,
        .img-facebook-footerI,
        .img-instagram-footerI{
            width: 40px;
            height: 40px;
        }
    }



}

@media only screen and (min-width:853px) and (max-width:960px) {
    .header-4 {
        width: 400%;

        .menu4 {

            position: relative;
            left: 10px;
            width: 200%;
            font-size: 70px;
        }

    }

    .main-4 {
        .ul-lista2 {
            margin-left: 50%;
        }

        .h2-class {
            margin-left: 50%;

        }

        .principal-content {
            margin-right: -150%;

        }

        .img-h4 {

            margin-left: 50%;

        }

        .h4-class {
            margin-left: 40%;

        }

        .img-amigos {
            margin-left: 50%;

        }
    }

    .footer-4 {
        width: 378%;
    }

}












/* SECCION PRODUCTOS*/
@import "base/estilosGenerales";
@import "components/headerprod";
@import 'base/mixinprod';
@import "components/footerprod";


/* mobile */
@media only screen and (max-width: 450px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    /* ARRANCA HEADER */
    .header {
        background-color: black;
        font-family: 'Roboto', sans-serif;
        display: grid;
        width: 270%;
        height: 100%;

        a {
            text-decoration: none;
        }

        a:hover {
            color: red;
        }

        .logo-name0 {
            font-size: 150px;
            position: relative;
            left: 150px;
            bottom: 70px;

        }

        .logo0 {
            display: grid;
            grid-template-columns: 80px 30px;
            width: 20%;
            align-items: center;
            padding-top: 30px;
        }

        .logo-img0 {
            height: 350px;
            width: 300px;
            position: relative;
            right: 50px;
            bottom: 70px;

        }

        .menu0 {
            display: grid;
            grid-template-columns: (2, 100px);
            font-size: 80px;
            color: white;
            position: relative;
            left: 550px;
            bottom: 100px;
        }
    }



    .main {
        width: 235%;

        .menu-main {
            display: grid;
            gap: 350px;
            padding-bottom: 350px;
            margin-left: 50%;


        }

        .menu-main2 {
            gap: 350px;
            display: grid;
            margin-left: 50%;

        }

        .bebida {
            width: 400px;
            height: 400px;
        }

        .bebida-1 {
            font-size: 50px;
            width: 300px;
            height: 200px;
            padding-bottom: 100px;
        }

        .input-text {
            font-size: 160px;
        }

        .Input {
            margin-top: 100px;
            margin-left: 100px;
        }

        .input {
            margin-left: 20%;


        }

        button {
            width: 20%;
            font-size: 40px;
            height: 50px;
            margin-left: 20px;

        }

        .lista {
            background-color: lightgrey;
            width: 120%;
            margin-bottom: 100px;
            padding-bottom: 100px;
            padding-top: 100px;
            font-size: 150px;

        }
    }

    .footer {
        display: grid;
        background-color: black;
        width: 280%;
        margin-top: 100%;

        .img-footer {
            padding-left: 60px;
        }

        .a-footer0 {
            font-size: 30px;
        }

        .liquor-store-footer0 {
            font-size: 30px;
        }

        .img-whatsapp-footer0,
        .img-instagram-footer0,
        .img-facebook-footer0 {
            width: 45px;
            height: 45px;
        }

        .footer-logo-class0 {
            width: 100px;
            height: 100px;
        }


    }

    ul.menu {
        font-size: 30px;
        align-items: center;
        position: relative;
        bottom: 20px;
        left: 20px;
    }


}

@media only screen and (min-width:451px) and (max-width:960px) {

    div.grid-container {
        width: 130%;
    }

    .header {
        width: 300%;
        height: 200px;

        .logo0 {
            position: relative;
            right: 40px;
        }


        .logo-name0 {
            font-size: 80px;
            width: 20%;
        }


        .logo-img0 {
            width: 150px;
            height: 150px;

        }

        .menu0 {
            position: relative;
            left: 100px;
        }

        .a {
            font-size: 55px;
            position: relative;
            right: 100px;
            top: 10px;
        }
    }

    .main {
        position: relative;
        left: 50%;
        width: 200%;
        display: grid;
        grid-template-columns: (2, 1fr);

        .lista {
            width: 150%;
            margin-left: -600px;
            font-size: 180px;

        }

        .input-text {
            font-size: 150px;
        }

        .input {
            margin-left: 10%;
        }

        button {
            font-size: 70px;
            margin-top: 20px;
            margin-left: 50px;
        }



        .menu-main {
            margin-top: 300px;
            margin-bottom: 300px;
            gap: 100px;
            margin-left: 100px;
        }

        .menu-main2 {
            gap: 100px;
            margin-left: 100px;
            margin-top: 50%;


        }

        .bebida-1 {
            font-size: 70px;
            width: 30%;
            position: relative;
            right: 80px;

        }

        .bebida {
            width: 500px;
            height: 500px;
        }



    }

    .footer {
        width: 305%;
        margin-top: 200%;

        .lista-footer0 {
            padding-top: 10px;
        }

        .a-footer0 {
            font-size: 40px;
        }

        .liquor-store-footer0 {
            font-size: 40px;
        }

        .img-facebook-footer,
        .img-instagram-footer,
        .img-whatsapp-footer {
            width: 50px;
            height: 50px;
        }

        .footer-logo-class0 {
            width: 100px;
            height: 100px;
        }
    }




}


@media only screen and (min-width:961px) and (max-width:1077px) {


    .header {
        width: 130%;

        .logo-name {
            font-size: 15px;
            padding-right: 20px;

        }
    }

    .main {
        width: 136%;

        .lista {
            width: 100%;
        }
    }

    .footer {
        margin-top: 100%;
        width: 136%
    }
}



/* SECCION NOSOTROS */
@import "base/estilosGenerales";
@import "components/headernosotros";
@import "base/_listasnosotros.scss";
@import "components/footernosotros";

@media only screen and (max-width:450px) {
    .grid-container-3 {
        display: grid;
        grid-template-columns: (1fr);
    }

    .header-3 {

        width: 145%;
        height: 900px;

        .menu3 {
            display: grid;
            font-size: 60px;
            color: white;
            padding-right: 100px;
            position: relative;
            right: 100px;
        }

        .logo-name3 {
            font-size: 100px;
        }

        .logo-img3 {
            height: 130px;
            width: 130px;
        }
    }

    .main-3 {
        width: 140%;
        margin-left: 90px;
        margin-top: 100%;



        .h1N {
            font-size: 200px;
            margin-left: -10%;
        }

        .pN {
            font-size: 95px;
            margin-left: -10%;
            margin-top: 100px;

        }

        .texto-class,
        .texto-class-2 {
            font-size: 100px;
            margin-top: 200px;
            margin-left: -10%;


        }
    }

    .footer-3 {
        display: grid;
        background-color: black;
        width: 152%;
        margin-top: 150%;

        .liquor-store-footer3 {
            font-size: 25px;
        }

        .aN {
            font-size: 30px;
            margin-right: 50px;
        }

        .img-instagram-footer3,
        .img-whatsapp-footer3,
        .img-facebook-footer3 {
            width: 40px;
            height: 40px;
        }




    }
}

@media only screen and (min-width:451px) and (max-width:960px) {
    .header-3 {
        width: 265%;
        gap: 50px;
        height: 250px;

        .menu3 {
            padding-left: 100px;
            padding-top: 20px;
            gap: 30px;
            position: relative;
            right: 80px;
            font-size: 35px;
        }

        .logo-name3 {
            font-size: 50px;
        }
    }

    .main-3 {
        width: 250%;
        margin-top: 100%;

        .h1 {
            font-size: 150px;
        }

        .h2 {
            font-size: 100px;
        }

        .h2-Class {
            gap: 150px;
        }
    }

    .footer-3 {
        width: 275%;
        margin-top: 160%;

        .aN {
            font-size: 30px;
            margin-right: 100px;
        }

        .liquor-store-footer3 {
            font-size: 30px;

        }

        .img-instagram-footer3,
        .img-whatsapp-footer3,
        .img-facebook-footer3 {
            width: 45px;
            height: 45px;
        }
    }
}

@media only screen and (min-width:961px) {

    .footer-3 {
        margin-top: 250px;

    }

}

/* SECCION COMO COMPRAR*/
@import "base/estilosGenerales";
@import "components/headercomocomp";
@import "base/mixincomp";
@import "components/footercomocomp";



/*MOBILE*/

@media only screen and (max-width:450px) {

    /* ARRANCA HEADER */
    .header-1 {
        background-color: black;
        font-family: 'Roboto', sans-serif;
        display: grid;
        width: 310%;
        height: 80%;

        a {
            text-decoration: none;
        }

        a:hover {
            color: red;
        }

        .logo-name1 {
            font-size: 150px;
            position: relative;
            left: 150px;
            bottom: 70px;

        }

        .logo1 {
            display: grid;
            grid-template-columns: 80px 30px;
            width: 20%;
            align-items: center;
            padding-top: 30px;
        }

        .logo-img1 {
            height: 350px;
            width: 300px;
            position: relative;
            right: 50px;
            bottom: 70px;

        }

        .menu1 {
            display: grid;
            grid-template-columns: (2, 100px);
            font-size: 80px;
            color: white;
            position: relative;
            left: 550px;
            bottom: 100px;
        }
    }

    .main-1 {
        width: 100%;
        display: grid;

        .main-class {
            margin-top: 200px;
            font-size: 100px;
            margin-left: 100%;

        }

        nav {
            margin-left: 35%;
            margin-top: 300px;
        }

        .img-clasS {
            display: grid;
            gap: 150px;
            margin-left: 50%;


        }

        .img-1,
        .img-2,
        .img-3 {
            width: 400px;
            height: 400px;

        }

        .compra-class {
            display: grid;
            font-size: 100px;
            width: 200%;

        }


        .precio-class {
            margin-left: 100px;

        }

        .h2-clase {
            height: 500px;
            width: 200%;
            font-size: 130px;
            padding-left: 50px;
            margin-left: -15%;
        }

        .h2-img {
            height: 100%;

        }
    }

    .footer-1 {
        display: grid;
        margin-top: 100%;
        width: 325%;

        .a1 {
            font-size: 25px;
        }




    }
}

/* TABLET */

@media only screen and (min-width:451px) and (max-width:960px) {
    .header-1 {
        width: 410%;
        height: 250px;

        .menu1 {
            padding-left: 40px;
            font-size: 80px;
            gap: 50px;
            padding-top: 80px;
        }

        .logo-name1 {
            font-size: 70px;
            padding-top: 60px;
        }

        .logo-img1 {
            padding-top: 60px;
            width: 100px;
            height: 100px;
        }
    }

    .main-1 {
        width: 215%;
        display: grid;

        .main-class {
            font-size: 135px;
            width: 200%;
            margin-left: -25%;
        }

        .compra-class {
            font-size: 100px;
            margin-left: -25%;
            width: 20%;
            margin-top: 20%;
        }

        .img-1,
        .img-2,
        .img-3 {
            width: 500px;
            height: 500px;


        }

        .img-clasS {
            width: 150%;
            margin-left: -10%;

        }

        .h2-clase {
            width: 120%;
            font-size: 200px;
            height: 700px;

        }

        .h2-img {
            height: 700px;
            width: 1000px;
        }


    }

    .footer-1 {
        width: 400%;
        margin-top: 210%;

        .a1 {
            font-size: 50px;
        }

        .img-instagram-footer1,
        .img-whatsapp-footer1,
        .img-facebook-footer1 {
            width: 80px;
            height: 80px;
        }

        .footer-logo-class1 {
            width: 200px;
            height: 200px;
        }

        .liquor-store-footer1 {
            font-size: 50px;
        }
    }

    .h2-clase {
        width: 85%;

    }

    .precio-class {
        margin-bottom: 50px;
        margin-top: 500px;
        margin-left: 35px;
    }
}

@media only screen and (min-width:961px) and (max-width:1020px) {
    .header-1 {
        width: 106%;
    }

    .footer-1 {
        margin-top: 250px;
        width: 112%;
    }

    .h2-clase {
        margin-left: 100px;

    }

    .h2-img {
        height: 520px;

    }

    .precio-class {
        width: 112%;
        height: 520px;
        background-color: black;
    }
}

/* SECCION CONTACTO */

@import "base/estilosGenerales";
@import "components/headercontact";
@import "base/_extendcontact.scss";
@import "base/mixincontact";
@import "components/footercontact";

@media only screen and (max-width:450px) {
    .header-2 {
        background-color: black;
        font-family: 'Roboto', sans-serif;
        display: grid;
        width: 260%;
        height: 850px;

        a {
            text-decoration: none;
        }

        a:hover {
            color: red;
        }

        .logo-name2 {
            font-size: 150px;
            position: relative;
            left: 150px;
            bottom: 70px;

        }



        .logo2 {
            display: grid;
            grid-template-columns: 80px 30px;
            width: 20%;
            align-items: center;
            padding-top: 30px;
        }

        .logo-img2 {
            height: 350px;
            width: 300px;
            position: relative;
            right: 50px;
            bottom: 70px;

        }

        .menu2 {
            display: grid;
            grid-template-columns: (2, 100px);
            font-size: 50px;
            color: white;
            position: relative;
            left: 700px;
            bottom: 300px;
        }
    }

    .main-2 {
        width: 200%;
        display: grid;
        margin-left: 15%;

        input {
            width: 300px;
            height: 50px;
            margin-top: 50px;
        }

        .h1-2 {
            font-size: 100px;
        }

        .h3-2 {
            font-size: 70px;
        }

        .div-contact {
            height: 200px;
            padding-top: 100px;
        }

        .h4-2 {
            font-size: 30px;
        }

        .phone-class,
        .map-class,
        .msj-class {
            margin-left: 50px;
            height: 150px;
            width: 150px;
        }


    }

    .footer-2 {
        width: 275%;
        margin-top: 180%;

    }

    .a-2 {
        font-size: 25px;
        margin-right: 150px;
    }

    .img-whatsapp-footer2,
    .img-instagram-footer2,
    .img-facebook-footer2 {
        width: 45px;
        height: 45px;
    }

    .liquor-store-footer2 {
        font-size: 25px;
    }


}


@media only screen and (min-width:451px) and (max-width:960px) {
    .header-2 {
        width: 250%;
        height: 150px;

        .menu2 {
            width: 100%;
            padding-top: 30px;
            gap: 15px;
            font-size: 35px;
            padding-left: 20px;
        }

        .logo-name2 {
            font-size: 45px;
            padding-right: 20px;
        }
    }

    .main-2 {
        width: 220%;
        margin-left: 5%;
        margin-top: 50%;

        .div-contact {
            margin-top: 50%;
            height: 300px;
            padding-top: 100px;
        }

        .msj-class,
        .map-class,
        .phone-class {
            width: 200px;
            height: 200px;
            margin-left: 50px;
        }

        .h4-2 {
            font-size: 40px;
        }

        .h1-2 {
            font-size: 145px;
            width: 110%;
        }

        .h3-2 {
            font-size: 80px;
        }

        .put {
            width: 300px;
            height: 60px;
        }

        .put2 {
            height: 300px;

        }
    }

    .footer-2 {
        width: 257%;
        margin-top: 190%;

        .a-2 {
            font-size: 30px;
            margin-right: 100px;
        }

        .img-whatsapp-footer2,
        .img-instagram-footer2,
        .img-facebook-footer2 {
            width: 40px;
            height: 40px;
        }

    }
}

@media only screen and (min-width:961px) and (max-width:1035px) {

    .header-2 {
        width: 1000px;

        .menu2 {
            padding-left: 20px;
            gap: 30px;

        }

    }


}