@import "base/estilosGenerales";
@import "components/header";
@import 'base/mixin';
@import 'base/extend';
@import "base/listas.scss";
@import "components/footer";

/* MOBILE */
/* MOBILE */

@media only screen and (max-width:450px) {

    .header-4 {
        width: 300%;
        height: 150px;


        background-color: black;

        .nav__container {
            height: 150px;

        }

        .nav__logo {
            font-size: 60px;

        }

        .img__header {
            width: 80px;
            height: 80px;
        }

        .nav__img {
            width: 80px;
            height: 80px;
        }



        .nav__label {
            display: block;
            cursor: pointer;


        }

        .nav__menu {
            margin-top: -120px;
            height: 100%;
            z-index: 2;
            position: fixed;
            font-size: 40px;
            top: 120px;
            bottom: 0;
            width: 100%;
            left: 0;
            justify-content: space-evenly;
            display: flex;
            flex-direction: column;
            align-items: center;
            clip-path: circle(0 at center);
            transition: clip-path 1s ease-in-out;


        }

        .nav__input:checked+.nav__menu {
            clip-path: circle(100% at center);
        }
    }



    .main-4 {
        z-index: 1;
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 50%;

        .img-div {
            display: grid;
            margin: auto 80%;



        }

        .principal-content {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            margin: auto 80%;


        }

        .h4-class {
            font-size: 80px;
            margin-bottom: 50px;
        }

        .h2-class {
            width: 150%;



        }

        .ul-lista2 {
            height: 100px;
            font-size: 35px;
            width: 150%;
        }
    }

    .footer-4 {

        width: 300%;

        .a-footer4 {
            font-size: 30px;
        }



    }
}

@media only screen and (min-width:451px) and (max-width:960px) {

    .grid-container-4 {
        width: 100%;
    }

    .header-4 {
        width: 175%;

        .img__header {
            position: absolute;
            left: -10px;

        }

        .nav__logo {
            position: absolute;
            font-size: 30px;

        }

        .nav__menu {
            padding-left: 150px;
            padding-top: 20px;
        }

        .nav__item {
            font-size: 21px;
        }
    }

    .main-4 {

        .img-div {
            display: grid;
            margin-left: 100%;
            gap: 100px;
        }

        .ul-lista2 {
            width: 150%;
            margin-left: 10%;
            font-size: 40px;

        }

        .h2-class {
            width: 130%;
            margin-left: 20%;

            font-size: 70px;




        }


        .principal-content {
            display: grid;
            grid-template-columns: 1fr;
            margin-left: 100%;

        }

    }

    .footer-4 {
        width: 175%;

        .a-footer4 {
            font-size: 20px;
        }
    }

}

/* Cierra Inicio */







/* SECCION PRODUCTOS*/
@import "base/estilosGenerales";
@import "components/headerprod";
@import 'base/mixinprod';
@import "components/footerprod";

@media only screen and (max-width:450px) {
    .grid-container {
        display: grid;
    }

    .header {
        width: 110%;

        .nav__label {
            display: block;
            cursor: pointer;

        }

        .nav__menu {
            margin-top: -120px;
            z-index: 2;
            position: fixed;
            clip-path: circle(0 at center);
            transition: clip-path 1s ease-in-out;
            justify-content: space-evenly;
            width: 100%;
            left: 0;
            top: 120px;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            
        }

        .nav__input:checked+.nav__menu {
            clip-path: circle(100% at center);
        }
    }

    .main {
        .menu-main,
        .menu-main2 {
            display: grid;
            gap: 80px;
            margin-left: 35%;
        }

        .lista {
            width: 110%
        }
    }

    .footer {
        width: 110%;

        display: grid;

        .lista-footer0 {
            position: absolute;
            margin-right: 30px;
        }


        .img-whatsapp-footer0,
        .img-instagram-footer0,
        .img-facebook-footer0 {
            width: 20px;
            height: 20px;

        }
    }
}

@media only screen and (min-width:451px) and (max-width:960px) {

    .header {
        width: 175%;

        .img__header {
            position: absolute;
            left: -10px;

        }

        .nav__logo {
            position: absolute;
            font-size: 30px;

        }

        .nav__menu {
            padding-left: 150px;
            padding-top: 20px;
        }

        .nav__item {
            font-size: 20px;
        }

    }

    .main {
        .lista {
            width: 175%;
        }

        .bebida-1 {
            font-size: 25px;
        }

        .menu-main {
            margin-bottom: 50px;
        }


        .menu-main,
        .menu-main2 {
            grid-template-columns: repeat(2, 1fr);
            display: grid;
            gap: 150px;
            column-gap: 100%;
        }

        .input,
        .input-text,
        .button {
            margin-left: 15%;
            width: 150%
        }
    }

    .footer {
        width: 175%;

        .lista-footer0 {
            margin-right: 75px
        }

    }
}

/* CIERRA Productos*/






/* SECCION NOSOTROS */
@import "base/estilosGenerales";
@import "components/headernosotros";
@import "base/_listasnosotros.scss";
@import "components/footernosotros";

@media only screen and (max-width:450px) {
    .grid-container-3 {
        display: grid;
        grid-template-columns: (1fr);
    }

    .header-3 {

        .nav__container {
            width: 152%;
            background-color: black;
            height: 120px;

        }

        .nav__logo {
            font-size: 70px;
        }

        .nav__img,
        .img__header {
            height: 70px;
            width: 70px;
        }

        .nav__item {
            font-size: 50px;
        }

        .nav__label {
            display: block;
            cursor: pointer;

        }

        .nav__menu {
            margin-top: -120px;
            position: fixed;
            top: 100px;
            width: 100%;
            bottom: 0;
            left: 0;
            justify-content: space-evenly;
            display: flex;
            flex-direction: column;
            align-items: center;
            clip-path: circle(0 at center);
            transition: clip-path 1s ease-in-out;


        }

        .nav__input:checked+.nav__menu {
            clip-path: circle(100% at center);
        }

    }

    .main-3 {
        width: 140%;
        margin-left: 90px;
        margin-top: 100%;



        .h1N {
            font-size: 200px;
            margin-left: -10%;
        }

        .pN {
            font-size: 95px;
            margin-left: -10%;
            margin-top: 100px;

        }

        .texto-class,
        .texto-class-2 {
            font-size: 100px;
            margin-top: 200px;
            margin-left: -10%;


        }
    }

    .footer-3 {
        display: grid;
        background-color: black;
        width: 152%;
        margin-top: 150%;

        .liquor-store-footer3 {
            font-size: 25px;
        }

        .aN {
            font-size: 30px;
            margin-right: 50px;
        }

        .img-instagram-footer3,
        .img-whatsapp-footer3,
        .img-facebook-footer3 {
            width: 40px;
            height: 40px;
        }




    }
}

@media only screen and (min-width:451px) and (max-width:960px) {
    .header-3 {
        width: 275%;
        gap: 50px;
        height: 150px;
        background-color: black;


        .nav__container {
            height: 150px;
        }

        .nav__item {
            font-size: 35px;

        }

        .nav__logo {
            margin-right: 40px;
            font-size: 50px;
        }







        .menu3 {
            padding-left: 100px;
            padding-top: 20px;
            gap: 30px;
            position: relative;
            right: 80px;
            font-size: 35px;
        }

        .logo-name3 {
            font-size: 50px;
        }
    }

    .main-3 {
        width: 250%;
        margin-top: 100%;

        .h1 {
            font-size: 150px;
        }

        .h2 {
            font-size: 100px;
        }

        .h2-Class {
            gap: 150px;
        }
    }

    .footer-3 {
        width: 275%;
        margin-top: 186%;

        .aN {
            font-size: 30px;
            margin-right: 100px;
        }

        .liquor-store-footer3 {
            font-size: 30px;

        }

        .img-instagram-footer3,
        .img-whatsapp-footer3,
        .img-facebook-footer3 {
            width: 45px;
            height: 45px;
        }
    }
}

@media only screen and (min-width:961px) {

    .footer-3 {
        margin-top: 250px;

    }

}

/* SECCION COMO COMPRAR*/
@import "base/estilosGenerales";
@import "components/headercomocomp";
@import "base/mixincomp";
@import "components/footercomocomp";



/*MOBILE*/

@media only screen and (max-width:450px) {

    /* ARRANCA HEADER */
    .header-1 {
        width: 1000px;




        .nav__label {
            display: block;
            cursor: pointer;

        }

        .nav__menu {
            margin-top: -120px;
            position: fixed;
            top: 80px;
            bottom: 0;
            width: 100%;
            left: 0;
            justify-content: space-evenly;
            display: flex;
            flex-direction: column;
            align-items: center;
            clip-path: circle(0 at center);
            transition: clip-path 1s ease-in-out;
        }

        .nav__item{
            font-size: 30px;
        }

        .nav__input:checked+.nav__menu {
            clip-path: circle(100% at center);
        }
    }

    .main-1 {
        width: 1000px;
        margin-bottom: 520px;

        .main-class {
            font-size: 60px;
        }

        .img-clasS {
            margin-right: 70px;
        }



        .precio-class {
            width: 100%;
        }

        .h2-clase {
            font-size: 80px;
        }

    }

    .footer-1 {
        width: 1000px;

        .lista-footer {
            margin-right: 80px;
            margin-top: 20px;
        }

        .a1 {
            font-size: 20px;

        }
    }
}

/* TABLET */

@media only screen and (min-width:451px) and (max-width:960px) {
    .header-1{
        width: 950px;
        background-color: black;
        height: 150px;


        .nav__container{
            height: 150px;
        }

        .nav__logo{
            position: absolute;
            left: 50px;
        }

        .img__header{
            position: absolute;
            left: 0;
        }

        .nav__menu{
            margin-left: 200px;
            margin-top: 20px;
        }

        .nav__item{
            font-size: 24px;
        }
    }

    .main-1{
        width: 800px;

        .h2-clase{
            font-size: 85px;
            width: 950px;
        }
    }

    .footer-1{
        width: 950px;

    }


}



/* SECCION CONTACTO */

@import "base/estilosGenerales";
@import "components/headercontact";
@import "base/_extendcontact.scss";
@import "base/mixincontact";
@import "components/footercontact";

@media only screen and (max-width:450px) {
    .header-2 {
        width: 400%;
        height: 150px;
        background-color: black;

        .nav__container {
            height: 150px;
        }

        .nav__logo {
            font-size: 60px;
        }

        .img__header {
            width: 80px;
            height: 80px;
        }

        .nav__img {
            width: 80px;
            height: 80px;
        }



        .nav__label {
            display: block;
            cursor: pointer;

        }

        .nav__item{
            font-size: 50px;
        }

        .nav__menu {
            margin-top: -100px;
            position: fixed;
            top: 80px;
            bottom: 0;
            width: 100%;
            left: 0;
            justify-content: space-evenly;
            display: flex;
            flex-direction: column;
            align-items: center;
            clip-path: circle(0 at center);
            transition: clip-path 1s ease-in-out;


        }

        .nav__input:checked+.nav__menu {
            clip-path: circle(100% at center);
        }

    }

    .main-2 {
        margin-bottom: 1620px;
        margin-left: 25%;
        display: grid;

        .input-class2 {
            margin-right: 10%;
        }


        .put,
        .put2 {
            font-size: 30px;
        }

        .h1-2 {
            font-size: 150px;
        }

        .h3-2 {
            font-size: 100px;
        }

        .div-contact {
            margin-right: 10%;


        }

        .h4-2 {
            font-size: 30px;
        }

        .phone-class,
        .map-class,
        .msj-class {
            margin-left: 50px;
            height: 150px;
            width: 150px;
        }


    }

    .footer-2 {
        width: 400%;
    }

    .a-2 {
        font-size: 30px;
        margin-right: 150px;
    }

    .img-whatsapp-footer2,
    .img-instagram-footer2,
    .img-facebook-footer2 {
        width: 45px;
        height: 45px;
    }

    .liquor-store-footer2 {
        font-size: 25px;
    }


}


@media only screen and (min-width:451px) and (max-width:960px) {
    .header-2 {
        width: 257%;
        height: 150px;
        background-color: black;

        .nav__item {
            font-size: 28px;
        }

        .nav__logo {
            margin-right: 25px;
        }





        .nav__container {
            height: 150px;
        }

        .menu2 {
            width: 100%;
            padding-top: 30px;
            gap: 15px;
            font-size: 35px;
            padding-left: 20px;
        }

        .logo-name2 {
            font-size: 45px;
            padding-right: 20px;
        }
    }

    .main-2 {
        width: 220%;
        margin-left: 15%;
        margin-top: 50%;


        .put,
        .put2 {
            font-size: 50px;

        }

        .div-contact {
            margin-left: 5%;

        }

        .msj-class,
        .map-class,
        .phone-class {
            width: 200px;
            height: 200px;
            margin-left: 50px;
        }

        .h4-2 {
            font-size: 40px;
        }

        .h1-2 {
            font-size: 145px;
            width: 110%;
        }

        .h3-2 {
            font-size: 80px;
        }

        .put {
            width: 300px;
            height: 60px;
        }

        .put2 {
            height: 300px;

        }
    }

    .footer-2 {
        width: 257%;
        margin-top: 190%;

        .a-2 {
            font-size: 30px;
            margin-right: 100px;
        }

        .img-whatsapp-footer2,
        .img-instagram-footer2,
        .img-facebook-footer2 {
            width: 40px;
            height: 40px;
        }

    }
}

@media only screen and (min-width:961px) and (max-width:1035px) {

    .header-2 {
        width: 1000px;

        .menu2 {
            padding-left: 20px;
            gap: 30px;

        }

    }


}