@import "base/estilosGenerales";
@import "components/header";
@import 'base/mixin';
@import 'base/extend';
@import "base/listas.scss";
@import "components/footer";

/* MOBILE */
/* MOBILE */
@media only screen and (max-width:450px) {
    .grid-container-4 {
        display: grid;
        width: 100%;
        grid-template-columns: (1fr);
    }

    .header-4 {

        width: 115%;
        height: 900px;

        .menu4 {
            display: grid;
            font-size: 60px;
            color: white;
            padding-right: 100px;
            position: relative;
            right: 300px;
        }

        .logo-name4 {
            font-size: 100px;
        }

        .logo-img4 {
            height: 130px;
            width: 130px;
        }
    }

    .main-4 {
        display: grid;
        width: 120%;
        grid-template-columns: (1, 1fr);

        .img-amigos {
            display: none;
        }

        div.img-div {
            display: grid;
            grid-template-columns: (1, 1fr);
        }

        .img-h4 {
            width: 500px;
            height: 500px;
            margin-left: 30%;
        }

        .h4-class {
            font-size: 100px;
            margin-left: 200px;
        }

        .ul-lista2 {
            width: 90%;
            font-size: 50px;
            margin-left: 20px;
        }

        .h2-class {
            font-size: 100px;
            margin-right: 130px;
            margin-left: 40px;
        }

        .principal-content {
            display: block;
            position: relative;
            left: 35%;
        }
    }

    .footer-4 {
        width: 115%;

        .a-footer4 {
            font-size: 30px;
            padding-left: 500px;
        }
    }
}

/* tablet */
@media only screen and (min-width:451px) and (max-width:960px) {
   .header-4 {
    width:270%;
    
    height: 250px;

    .logo4{
        padding-top: 20px;
    }
    .menu4{
        position:relative;
        font-size: 50px;
        right: 500px;
        gap: 50px;
        width: 20%;
    }

    .logo-name4{
        font-size: 60px;
        width: 10%;
        padding-top: 40px;
    }
    .logo-img4{
        width: 100px;
        height: 100px;
    }
   } 

   .main-4{
    div.img-div{
        margin-left: 150%;
        display: grid;
        margin-bottom: 300px;
        grid-template-columns: (2,1fr);
    }
    .img-h4{
        width: 700px;
        height: 700px;
    }

    .h4-class{
        font-size: 100px;
        width: 150%;
    }

    .img-amigos{
        margin-top: 100px;
        width: 700px;
        height: 700px;
    }

    .ul-lista2{
        width: 260%;
        font-size: 70px;
        margin-left: 80px;
        height: 250px;
    }

    .h2-class{
        width: 250%;
        margin-left: 100px;
        font-size: 150px;
    }

    .principal-content{
        display: block;
        margin-left: 130%;

    }
   }
   .footer-4{
    width:276%;

    .a-footer4{
        font-size: 40px;
    }

    
   }



}
@media only screen and (min-width:853px) and (max-width:960px) {
    .header-4{
        width: 400%;
        .menu4{

            position: relative;
            left: 10px;
            width: 200%;
            font-size: 70px;
        }
        
    }

    .footer-4{
        width: 400%;
    }
    
    }










    

/* SECCION PRODUCTOS*/
@import "base/estilosGenerales";
@import "components/headerprod";
@import 'base/mixinprod';
@import "components/footerprod";


/* mobile */
@media only screen and (max-width: 450px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    /* ARRANCA HEADER */
    .header {
        background-color: black;
        font-family: 'Roboto', sans-serif;
        display: grid;
        width: 270%;
        height: 100%;

        a {
            text-decoration: none;
        }

        a:hover {
            color: red;
        }

        .logo-name0 {
            font-size: 150px;
            position: relative;
            left: 150px;
            bottom: 70px;

        }

        .logo0 {
            display: grid;
            grid-template-columns: 80px 30px;
            width: 20%;
            align-items: center;
            padding-top: 30px;
        }

        .logo-img0 {
            height: 350px;
            width: 300px;
            position: relative;
            right: 50px;
            bottom: 70px;

        }

        .menu0 {
            display: grid;
            grid-template-columns: (2, 100px);
            font-size: 80px;
            color: white;
            position: relative;
            left: 550px;
            bottom: 100px;
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .main {

        .menu-main {
            display: grid;
            gap: 350px;
            padding-bottom: 350px;


        }

        .menu-main2 {
            gap: 350px;
            display: grid;
        }

        .bebida {
            width: 400px;
            height: 400px;
        }

        .bebida-1 {
            font-size: 50px;
            width: 300px;
            height: 200px;
            padding-bottom: 100px;
        }

        .input-text {
            font-size: 130px;
        }

        .Input {
            margin-top: 100px;
            margin-left: 100px;
        }

        button {
            margin-top: 20px;
            width: 30%;
            font-size: 40px;
        }

        .lista {
            background-color: lightgrey;
            width: 120%;
            margin-bottom: 100px;
            padding-bottom: 100px;
            padding-top: 100px;
            font-size: 150px;

        }
    }

    .footer {
        display: grid;
        background-color: black;
        width: 280%;
        margin-top: 100%;

        .img-footer {
            padding-left: 60px;
        }
    }

    ul.menu {
        font-size: 30px;
        align-items: center;
        position: relative;
        bottom: 20px;
        left: 20px;
    }


}

@media only screen and (min-width:451px) and (max-width:960px) {

    div.grid-container {
        width: 130%;
    }

    .header {
        width: 300%;
        height: 200px;

        .logo-name {
            font-size: 80px;
            width: 20%;
        }

        .logo img {
            width: 150px;
            height: 150px;
        }

        .menu {
            position: relative;
            right: 235px;
        }

        .a {
            font-size: 55px;
            position: relative;
            right: 100px;
            top: 10px;
        }
    }

    .main {
        position: relative;
        left: 30%;
        width: 150%;
        display: grid;
        grid-template-columns: (2, 1fr);

        .lista {
            width: 90%;
            font-size: 150px;

        }

        .input-text {
            font-size: 120px;
        }

        button {
            font-size: 30px;
            margin-top: 20px;
        }



        .menu-main {
            margin-bottom: 300px;
            gap: 100px;
            margin-left: 100px;
        }

        .menu-main2 {
            gap: 100px;
            margin-left: 100px;


        }

        .bebida-1 {
            font-size: 45px;
            width: 30%;
            position: relative;
            right: 80px;

        }

        .bebida {
            width: 320px;
            height: 320px;
        }



    }

    .footer {
        width: 305%;

        .lista-footer {
            padding-top: 10px;
        }

        .a-footer {
            font-size: 40px;
        }

        .liquor-store-footer {
            font-size: 40px;
        }

        .img-facebook-footer,
        .img-instagram-footer,
        .img-whatsapp-footer {
            width: 50px;
            height: 50px;
        }

        .footer-logo-class {
            width: 100px;
            height: 100px;
        }
    }




}


@media only screen and (min-width:961px) and (max-width:1077px) {


    .header {
        width: 130%;

        .logo-name {
            font-size: 15px;
            padding-right: 20px;

        }
    }

    .main {
        width: 136%;

        .lista {
            width: 100%;
        }
    }

    .footer {
        margin-top: 100%;
        width: 136%
    }
}



/* SECCION NOSOTROS */
@import "base/estilosGenerales";
@import "components/headernosotros";
@import "base/_listasnosotros.scss";
@import "components/footernosotros";

@media only screen and (max-width:450px) {
    .header-3 {
        height: 100px;
        display: grid;
        width: 245%;

        .menu3 {
            position: relative;
            bottom: 30px;
            gap: 20px;
            padding-left: 220px;
            font-size: 24px;
        }

        .logo3 {
            display: grid;
            grid-template-columns: 80px 30px;
            width: 20%;
            align-items: center;
            margin-right: 50px;
            position: relative;
            top: 15px;
        }

        .logo-name3 {
            margin-left: -35px;
            font-size: 35px;
        }

        .logo-img3 {
            height: 80px;
            width: 80px;
            margin-left: -20px;
        }
    }

    .main-3 {
        width: 250%;
        margin-top: 100%;



        .h1N {
            font-size: 150px;
        }
    }



    .footer-3 {
        display: grid;
        background-color: black;
        width: 255%;
        margin-top: 150%;

    }
}

@media only screen and (min-width:451px) and (max-width:960px) {
    .header-3 {
        width: 245%;
        gap: 50px;

        .menu3 {
            padding-left: 100px;
            padding-top: 20px;
            gap: 10px;
            position: relative;
            right: 150px;
            font-size: 30px;
        }
    }

    .main-3 {
        width: 250%;
        margin-top: 100%;

        .h1 {
            font-size: 150px;
        }

        .h2 {
            font-size: 100px;
        }

        .h2-Class {
            gap: 150px;
        }
    }

    .footer-3 {
        width: 250%;
        margin-top: 150%;
    }
}

@media only screen and (min-width:961px) {

    .footer-3 {
        margin-top: 250px;

    }

}

/* SECCION COMO COMPRAR*/
@import "base/estilosGenerales";
@import "components/headercomocomp";
@import "base/mixincomp";
@import "components/footercomocomp";



/*MOBILE*/

@media only screen and (max-width:450px) {

    /* ARRANCA HEADER */
    .header-1 {
        height: 100px;
        display: grid;
        width: 240%;

        .menu1 {
            position: relative;
            bottom: 30px;
            gap: 20px;
            padding-left: 160px;
        }

        .logo1 {
            display: grid;
            grid-template-columns: 80px 30px;
            width: 20%;
            align-items: center;
            margin-right: 50px;
            position: relative;
            top: 15px;

        }

        .logo-name1 {
            margin-left: -35px;
            font-size: 35px;
        }

        .logo-img1 {
            height: 80px;
            width: 80px;
            margin-left: -20px;
        }
    }

    .main-1 {
        width: 100%;
        display: grid;

        .main-class {
            margin-left: 50%;
            margin-top: 200px;

        }

        nav {
            margin-left: 35%;
            margin-top: 300px;
        }

        .img-class {
            gap: 50px;
        }

        .compra-class {
            gap: 150px;
        }

        .precio-class {
            margin-left: 100px;

        }

        .h2-clase {
            height: 500px;
            width: 135%;
            font-size: 100px;
            padding-left: 50px;
        }
    }

    .footer-1 {
        display: grid;
        background-color: black;
        width: 251%;
        margin-top: 100%;

    }
}

/* TABLET */

@media only screen and (min-width:451px) and (max-width:960px) {
    .header-1 {
        width: 240%;

        .menu {
            padding-left: 20px;
            padding-top: 20px;
        }
    }

    .main-1 {
        width: 215%;
        display: grid;
    }

    .footer-1 {
        width: 250%;
        margin-top: 100%;



    }

    .h2-clase {
        width: 85%;

    }

    .precio-class {
        margin-bottom: 50px;
        margin-top: 500px;
        margin-left: 35px;
    }
}

@media only screen and (min-width:961px) and (max-width:1020px) {
    .header-1 {
        width: 106%;
    }

    .footer-1 {
        margin-top: 250px;
        width: 112%;
    }

    .h2-clase {
        margin-left: 100px;

    }

    .h2-img {
        height: 520px;

    }

    .precio-class {
        width: 112%;
        height: 520px;
        background-color: black;
    }
}

/* SECCION CONTACTO */

@import "base/estilosGenerales";
@import "components/headercontact";
@import "base/_extendcontact.scss";
@import "base/mixincontact";
@import "components/footercontact";

@media only screen and (max-width:450px) {
    .header-2 {
        width: 230%;
        height: 100px;

        .menu2 {
            align-items: center;
            padding-left: 20px;
            gap: 20px;
            font-size: 28px;
        }

        .logo2 {
            padding-right: 30px;
        }

        .logo-name2 {
            font-size: 30px;
        }
    }

    .main-2 {
        width: 200%;
        display: grid;
        margin-left: 15%;

        input {
            width: 250px;
            height: 50px;
        }
    }

    .footer-2 {
        width: 245%;
        margin-top: 180%;
    }
}

@media only screen and (min-width:451px) and (max-width:960px) {
    .header-2 {
        width: 225%;
        height: 100px;

        .menu2 {
            width: 100%;
            padding-top: 10px;
            gap: 15px;
            font-size: 25px;
            padding-left: 20px;
        }

        .logo-name2 {
            font-size: 30px;
            padding-right: 20px;
        }
    }

    .main-2 {
        width: 220%;
        margin-left: 5%;
        margin-top: 50%;

        .div-contact {
            margin-top: 50%;
        }
    }

    .footer-2 {
        width: 230%;
        margin-top: 190%;

    }
}

@media only screen and (min-width:961px) and (max-width:1035px) {

    .header-2 {
        width: 1000px;

        .menu2 {
            padding-left: 20px;
            gap: 30px;

        }

    }


}