
.footer-4{
    @include background;
   
    .footer-logo-class {
        align-items: center;
        width: 80px;
        height: 80px;
        padding-left: 10px;
        padding-top: 20px;
    }
    .lista-footer {
        align-items: center;
        padding-left: 60%;
        list-style: none;
        color: white;
    }
    .img-footer {
        margin-right: 20px;
        display: flex;
        justify-content: flex-end;
        height: 30px;
        width: 30px;
    }
    .liquor-store-footer {
        color: white;
        border-top: solid 1px lightblue;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    %footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid 1px lightblue;
}
.caja-footer{
    @extend %footer;
}


    }