
.header-4 {
    font-family: 'Roboto', sans-serif;
    /* para q el logo este en una esquina y las secciones en otra */
    justify-content: space-between;
    height: 70px;
    background-color: black;
    align-items: center;
    padding: 10px;
    padding-right: 50px;

    .logo4 {
        display: flex;
        align-items: center;
    }

    .logo-img4 {
        height: 80px;
        width: 80px;
        display: flex;
    }

    .logo-name4 {
        color: white;
        font-family: 'Lobster Two', cursive;
        font-size: 30px;
    }

    nav a {
        padding-right: 20px;
    }

    .menu4 {
        display: flex;
        padding-left: 500px;
        position: relative;
        bottom: 60px;
         list-style: none;
        gap: 80px;
        font-size: 20px;
        color: white;
    }

    

    a {
        text-decoration: none;
    }
}
