/* condicionales */

/* 
if(condicion){
    aca se ejecita este codigo, si la condicion se cumple
} else {
    se ejecuta este otro bloque de codigo
}
*/

/*
@if $darkmode === black {
    border: solid 2px blue;
} @else{

    border: solid 2px tomato;
}
*/

/* else es como decir "sino"*/
@mixin modos ($darkmode) {
    @if $darkmode == black{
        border: solid 2px blue;
    } @else {
        border: solid 2px tomato;
    }
}

.bg-condicion{
    @include modos (tomato);
}

