@mixin backgroundwhite {
    background-color: white;
}


@mixin background {
    background-color:black;
}

@mixin border {
    border: solid 2px black;
}
@mixin grid {
    display: grid;
}


main{
    background-color: grey;
    background-size: 100%;
.img-h4 {
        border: solid 1px white;
        margin-bottom: 50px;
        width: 350px;
        height: 350px;
        margin-top: 30px;
        @include background;
}
.img-class{
    border: solid 3px white;
    width: 300px;
    height: 350px;
    @include background;
}
.img-amigos{
    @include border;
    width: 400px;
    height: 300px;
    margin-right: 100px;
}

.h4-class{
    font-family: 'Lobster Two', cursive;
    @include grid;
        margin-right: 20%;
        margin-top: 27px;
        font-size: 50px;
}
.principal-content{
    margin-top: 50px;
        margin-bottom: 50px;
        @include grid;
        grid-template-columns: 300px 300px 300px;
        justify-content: center;
        grid-column-gap: 100px;
        grid-row-gap: 80px;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
}
.h2-class{
    @include grid;
    font-family: 'Lobster Two', cursive;
        font-size: 50px;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        background-color: lightgrey;
}

.h1-class {
    margin-top: 40px;
    margin-left: 30px;
}
}

































